.App {
  text-align: center;
  background-color: #3498DB;
  height:100vh;
}

.App-header {
  background-color: #2C3E50;
  min-height: 70px;
  padding: 20px;
  color: #ECF0F1;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.button-container{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.textcheckbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox{
  padding-left: 5px;
}
.fade-appear{
  opacity: 0;
}
.fade-appear.fade-appear-active{
  opacity: 0;
  transition: opacity 1000ms linear;
}
.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-acitve{
  opacity: 0;
  transition: opacity 1000ms linear;
}

.fade-exit-done{
  opacity: 0;
}

.fade-enter{
  opacity: 0;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}

.admin-table-container{
  max-width: 90%;
  
}

.admin-master{
  display: flex;
  justify-content: center;
}

.feedback-wrap{
  max-width: 40%;
  margin: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.tab-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container{
  display: flex;
  align-items: center;
  justify-content: center;
}